<a href="https://colab.research.google.com/github/dip-d10/Mentorship-Questions-Practice/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [10]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-started-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
# Write your code here
celcius = float(input('Enter the celcius value'))
farenheit = ((celcius* 9/5) + 32)
print(f'{celcius} celcius is equivalent to {farenheit} farenheit')

Enter the celcius value30
30.0 celcius is equivalent to 86.0 farenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [2]:
# Write your code here
a = int(input('Enter the first value: '))
b = int(input('enter the second value: '))
c = a
a = b
b = c
print('The value of after swapping the first and second input is: ',a,b)

Enter the first value: 2
enter the second value: 3
The value of after swapping the first and second input is:  3 2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [9]:
# Write your code here
a = list(map(int, input("Enter your first coordinate with a comma: ").split(',')))
b =  list(map(int, input("Enter your second coordinate with a comma: ").split(',')))

euclidean_distance = ((b[0]-a[0])**2 +(b[1]-a[1])**2)**0.5
print(f'The euclidean distance between {a} & {b} is {euclidean_distance}')

 enter your first coordinate with a comma: 4,5
 enter your second coordinate with a comma: 67,76
The euclidean distance between [4, 5] & [67, 76] is 94.92101980067429

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [15]:
# Write your code here
amount = float(input("Enter the principal amount:"))
interest = float(input('Enter the interest rate: '))
time = float(input('Enter the time period in years: '))

simple_interest = ((amount*interest/100)*time)
print(f'Total interest for this will be, {simple_interest}/-')

Enter the principal amount:86500
Enter the interest rate: 7.20
Enter the time period in years: 5
Total interest for this will be, 31140.0/-

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [18]:
# Write your code here
head = int(input('Enter the head counts: '))
legs = int(input('Enter the leg counts: '))

chickens = int(((head*4)-legs)/2)
dogs = int(head-chickens)

print(f'The total number of dog is {dogs} & chicken is {chickens}')

Enter the head counts: 18
Enter the leg counts: 52
The total number of dog is 8 & chicken is 10

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [26]:
# Write your code here
n = int(input ('Enter the range:'))
output = 0
for i in range(1,(n+1)):
  output += i**2

print(f'The sum of squares of first {n} natural numbers is :{output} ')

Enter the range:100
The sum of squares of first 100 natural numbers is :338350


### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [7]:
# Write your code here
inputs = list (map(int, input('Enter the first two term separeted by space: ').split(' ')))
n = int(input('Enter the range: '))
difference = int(inputs[1] - inputs[0])
output =  int(inputs[0] + (n-1)*difference)
print(f'The {n}th term of this arithmatic series is {output}')

Enter the first two term separeted by space: 3 7
Enter the range: 78
The 78th term of this arithmatic series is 311

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [3]:
# Write your code here
n1, d1 = map(int,(input("enter the first fraction: ").split('/')))
n2, d2 = map(int,(input("enter the second fraction: ").split('/')))

result = float(n1*d2 + n2*d1) /(d1*d2)

print(f'The sum of the fractions are {result}')

enter the first fraction: 4/5
enter the second fraction: 5/6
The sum of the fractions are 1.6333333333333333

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [6]:
# Write your code here
lt,bt,ht = map (float,input('Enter the Length,Breath & Height of the tank separeted by a space: ').split(' '))
rg,hg = map (float, input('Enter the radious & height of each glass separeted by a space: ').split(' '))

v_tank = (lt*bt*ht)
v_glass = ((22/7)*hg*(rg**2))
n = int(v_tank/v_glass)

print(f'The number of glass full of milk can be filled from the tank is:n {n} ')

Enter the Length,Breath & Height of the tank separeted by a space: 20 20 20
Enter the radious & height of each glass separeted by a space: 1 3
The number of glass full of milk can be filled from the tank is:n 848

In [ ]:
()